body {
    font-family: Arial, sans-serif;
    background-color: #303030;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container-top {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #202020;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.landing-page {
    position: absolute;
    width: 90%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-text {
    margin-top: 20%;
    margin-bottom: 20%;
    padding: 20px;
    font-size: 20px;
}