<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/dashboard.css">
</head>
<body>
    <h1 id="username-title">Olá, {{ user }}!</h1>
    

  <h1 id="title">🎶 Musicas mais escutadas</h1>
  <p id="subtitle">Aqui estão suas músicas mais escutadas no Spotify:</p>
  <div id="tracks">
    <!-- As faixas serão inseridas aqui pelo JavaScript -->
  </div>

<script type="application/json" id="tracks-data">
    {
        "items": [
            {% for track in tracks['items'] %}
            {
                "name": "{{ track.name|escape }}",
                "artists": [{ "name": "{{ track.artists[0].name|escape }}" }],
                "album": {
                    "name": "{{ track.album.name|escape }}",
                    "release_date": "{{ track.album.release_date|escape }}",
                    "images": [{ "url": "{{ track.album.images[0].url|escape }}" }]
                },
                "duration_ms": {{ track.duration_ms }},
                "popularity": {{ track.popularity }},
                "external_urls": { "spotify": "{{ track.external_urls.spotify|escape }}" }
            }{% if not loop.last %},{% endif %}
            {% endfor %}
        ]
    }
</script>
<script>
    const tracksData = JSON.parse(document.getElementById('tracks-data').textContent);
    const tracksDiv = document.getElementById('tracks');
    tracksData.items.forEach(track => {
        const trackElem = document.createElement('div-tracks');
        trackElem.innerHTML = `
            <img class="tracks-img" src="${track.album.images[0].url}" alt="Album cover" style="height:50px;">
            <strong>${track.name}</strong><br>${track.artists[0].name}<br>
            Álbum: ${track.album.name}<br>
            Data de Lançamento: ${track.album.release_date}<br>
            Popularidade: <meter value="${track.popularity}" min="0" low="10" optimum="50" high="90" max="100"></meter><br>
            <a type="button" class="btn btn-success" href="${track.external_urls.spotify}" target="_blank">Ouvir no Spotify</a>
            <hr>
        `;
        tracksDiv.appendChild(trackElem);
    });
</script>

</body>
</html>
